{% extends 'base.html' %}

{% block content %}
<h1> Book List </h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>&#8470;</th>
      <th>Title</th>
      <th>Author</th>
      <th>ISBN</th>
      <th>Price</th>
      <th>Publish date</th>
    </tr>
  </thead>
  <tbody>
    {% for book in book_list %}
      <tr>
        <td> <a href="{{ domain }}{% url 'admin:store_book_change' book.pk %}">{{ forloop.counter }} </a> </td>
        <td> {{ book.title }} </td>
        <td> {{ book.author.all|join:", " }} </td>
        <td> {{ book.isbn }} </td>
        <td> {{ book.price }} </td>
        <td> {{ book.publish_date }} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
